<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\JavaPrograms\SecureNotes\out\artifacts\SecureNotes_jar\SecureNotes.jar</jar>
  <outfile>D:\JavaPrograms\SecureNotes\SecureNotes.exe</outfile>
  <errTitle>This Program requires java please install the latest java release</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\ybald\Downloads\icon.ico</icon>
  <singleInstance>
    <mutexName>SecureNotes</mutexName>
    <windowTitle>SecureNotes</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Secure Notes Software</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>SecureNotes</productName>
    <companyName>Ghozti</companyName>
    <internalName>SecureNotes</internalName>
    <originalFilename>SecureNotes.exe</originalFilename>
    <trademarks>SecureNotes </trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>